*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 70px;
    background-color: #000000a1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 999px; */
}
header ol li .color{
    background-color: rgba(0, 0, 0, 0.6);
}
header ol{
    display: flex;
    /* flex-direction: column; */
    gap: 5px;
}
header ol li{
    text-transform: capitalize;
    list-style: none;
    font-size: 25px;
}
header ol li a:hover{
    transition: 1s;
    background-color: rgba(0, 0, 128, 0.348);
    }
header ol li a{
    text-decoration: wavy;
    transition:1s;
    color: #ffffff7f;
    padding: 10px 10px;
}
.porsche{
    display: flex;
}
.porsche h1{
    font-size: 35px;
    font-family: 'Rubik Maps', system-ui;
}

.log img{
    width: 30px;
    height: 30px;
    /* margin-left: 10px; */
    /* padding-right: 10px; */
}
/* ///////////////////////////////////////// */
.panamera{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 70px;
    padding-left: 30px;
}
.panamera h1 a{
    list-style: none;
    font-size: 30px;
    color: #3b3b3b;
    text-transform: capitalize;
    transition: 0.5s;
}
.panamera img{
    width: 30px;
    height: 27px;
}
.panamera h1 a:hover{
    color: rgba(255, 0, 0, 0.644);
    transition: 0.5s;
}

/* --------------------------------- */

/* start of -h7awl */
.h7awl{
    width: 100%;
    min-height: 100vh;
    background-color:#ffffff7f;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    gap: 5px;
    padding-top: 50px;
    flex-wrap: wrap;
}
.h7awl .sowar img{
    width: 350px;
    transition: 0.5s;
    height: 200px;
}
.h7awl .sowar p a{
    list-style: none;
    color: #6b6b6b;
    padding-top: 15px;
    font-size: 20px;
    transition: 0.5s;
}
.h7awl .sowar p a:hover
{
    transition: 0.5s;
    color: rgba(255, 0, 0, 0.53);
}
.h7awl .sowar img:hover{
    transition: 0.5s;
    height: 250px;
    overflow: hidden;
}
/* /-/-/-//-/-/--/-//--/--/-//----////-/- */


.Turbos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 70px;
    padding-left: 30px;
}
.Turbos h1 a{
    list-style: none;
    font-size: 30px;
    color: #3b3b3b;
    text-transform: capitalize;
    transition: 0.5s;
}
.Turbos img{
    width: 30px;
    height: 27px;
}
.Turbos h1 a:hover{
    color: rgba(255, 0, 0, 0.644);
    transition: 0.5s;
}
/* /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */
.makan{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 70px;
    padding-left: 30px;
}
.makan h1 a{
    list-style: none;
    font-size: 30px;
    color: #3b3b3b;
    text-transform: capitalize;
    transition: 0.5s;
    padding-left: 30px;
}
.makan img{
    width: 30px;
    height: 27px;
}
.makan h1 a:hover{
    color: rgba(255, 0, 0, 0.644);
    transition: 0.5s;
}

/* /-/-//-/-/-///-///-/-/-/-/-/--//-/-/-/-/- */

.dakar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 70px;
    padding-left: 30px;
}
.dakar h1 a{
    list-style: none;
    font-size: 30px;
    color: #3b3b3b;
    text-transform: capitalize;
    transition: 0.5s;
    padding-left: 30px;
}
.dakar img{
    width: 30px;
    height: 27px;
}
.dakar h1 a:hover{
    color: rgba(255, 0, 0, 0.644);
    transition: 0.5s;
}

/* /-/--/-//-/--//-/--//-/-/-/--//-/-/- */

.taycan{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 70px;
    padding-left: 30px;
}
.taycan h1 a{
    list-style: none;
    font-size: 30px;
    color: #3b3b3b;
    text-transform: capitalize;
    transition: 0.5s;
    padding-left: 30px;
}
.taycan img{
    width: 30px;
    height: 27px;
}
.taycan h1 a:hover{
    color: rgba(255, 0, 0, 0.644);
    transition: 0.5s;
}



/* /--///-/-/-/-/-/--/-// */



footer
{
    width: 100%;
    height: 80vh;
    background-color: #3b3b3b;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    flex-direction: column;
    position: relative;
}
footer .footer-data
{
    width: 90%;
    min-height:45vh ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
footer .footer-data .x h4{
    color: #ffffff7f;
    font-size: 30px;
    text-transform: capitalize;
    padding-top: 30px;
    padding-left: 30px;
}
footer .footer-data .x .label{
    color: #fff;
    padding-top: 30px;
    padding-left: 60px;
}
footer .line
{
    position: absolute;
    margin-top: 20px;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

/* /-/-/-/-/-/-/-/-/-/-/--//-/-/ */

.overview{
    padding-top: 70px;
}
.overview p{
    color: #fff;
    font-size: 20px;
    padding-left: 60px;
}
.overview p a{
    list-style: none;
    color: navy;
    transition: 0.5s;
}
.overview p a:hover{
transition: 0.5s;
color: red;

}