*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 70px;
    background-color: #00000003;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999px;
}
header ol li .color{
    background-color: rgba(0, 0, 0, 0.386);
}
header ol{
    display: flex;
    /* flex-direction: column; */
    gap: 5px;
}
header ol li{
    text-transform: capitalize;
    list-style: none;
    font-size: 25px;
}
header ol li a:hover{
    transition: 1s;
    background-color: rgba(0, 0, 128, 0.348);
    }
header ol li a{
    text-decoration: wavy;
    transition:1s;
    color: #2b2b2b;
    padding: 10px 10px;
}
.porsche{
    display: flex;
}
.porsche h1{
    font-size: 35px;
    font-family: 'Rubik Maps', system-ui;
}
.log img{
    width: 30px;
    height: 30px;
    /* margin-left: 10px; */
    /* padding-right: 10px; */
}
/* /////////////////////////////////////// */

.bci{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-image: url(../images/106843374-1613976071106-gettyimages-1224909534-urn_newsml_dpa_com_20090101_200706-99-691193-2.jpeg);
        display: flex;
        justify-content: flex-start;
        align-items: center;
}
.bt{
    box-sizing: border-box;
    list-style: none;
    width: 140px;
    height: 30px;
    border-radius: 10%;
    background-color:rgba(0, 0, 0, 0.156);
    margin-top: 70px;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: 60px;
}
.bt h4 a{
    list-style: none;
    color: #fff;
    font-size: 35px;
}
/* ///////////////////////// */

.cars{
    width: 100%;
    height: 60vh;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}
.cars .item{
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.cars .item img{
    width: 350px;
    height: 200px;
}
